@use "../util/functions" as *;

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
        width: rem(500px);
        background-color: #fff;
    }

    .modal-header,
    .modal-footer {
        padding: rem(10px);
    }

    .modal-title {
        text-align: center;
    }

    .modal-body {
        padding: rem(10px);
        margin: auto;
        width: fit-content;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}