@use "../util/colors" as c;
@use "../util/functions" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(80px);
    border-bottom: 2px solid c.$black;

    h1 {
        margin: 1.5rem 3vw;
        font-size: 3rem;
    }

    @media only screen and (max-width: 450px) {
        h1 {
            font-size: 2rem;
        }
    }

    div {
        display: flex;
        align-items: center;

        & input,
        & button {
            margin-right: 2vw;
            height: rem(36px);
            border-radius: 50%;
        }

        button {
            width: fit-content;
            padding: 0 .5rem;
            max-width: rem(140px);

            .material-symbols-outlined {
                font-variation-settings:
                    'FILL' 0,
                    'wght' 700,
                    'GRAD' 0,
                    'opsz' 48
            }
        }

        input {
            min-width: rem(140px);
            border-radius: rem(20px);
            background: inherit;
            text-align: center;
            width: 20vw;
            font-size: 1.2rem;
        }
    }

}